@font-face {
    font-family: "Avant Garde Gothic";
    src: url(avantgardegothic.woff) format('woff'),
         url(avantgardegothic.woff2) format('woff2'),
         url(avantgardegothic.eot) format('embedded-opentype'),
         url(avantgardegothic.otf) format('opentype');
}

h3 {
    font-family: "Avant Garde Gothic", "Open Sans", Helvetica, Calibri, sans-serif;
};